[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector = "==2.2.9"
sqlalchemy = "*"
pandas = "==0.25.1"
xlrd = "==1.2.0"
progress = "==1.5"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
